<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    stopOnError="false"
    stopOnFailure="false"
    strict="false"
    verbose="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="BrickOO Components">
            <directory>./tests/Annotation</directory>
            <directory>./tests/Cache</directory>
            <directory>./tests/Error</directory>
            <directory>./tests/Messaging</directory>
            <directory>./tests/Filesystem</directory>
            <directory>./tests/Http</directory>
            <directory>./tests/IoC</directory>
            <directory>./tests/IO</directory>
            <directory>./tests/Log</directory>
            <directory>./tests/Common</directory>
            <directory>./tests/Network</directory>
            <directory>./tests/Routing</directory>
            <directory>./tests/Session</directory>
            <directory>./tests/Template</directory>
            <directory>./tests/Validation</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
