<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    stopOnError="false"
    stopOnFailure="false"
    strict="false"
    verbose="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="BrickOO Test Suite">
            <directory>./Brickoo/Autoloader</directory>
            <directory>./Brickoo/Cache</directory>
            <directory>./Brickoo/Error</directory>
            <directory>./Brickoo/Messaging</directory>
            <directory>./Brickoo/Filesystem</directory>
            <directory>./Brickoo/Http</directory>
            <directory>./Brickoo/Log</directory>
            <directory>./Brickoo/Memory</directory>
            <directory>./Brickoo/Network</directory>
            <directory>./Brickoo/Session</directory>
            <directory>./Brickoo/Template</directory>
            <directory>./Brickoo/Validation</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/Brickoo</directory>
        </whitelist>
    </filter>
</phpunit>