<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    stopOnError="true"
    stopOnFailure="true"
    strict="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="BrickOO Test Suite">
            <directory>./Brickoo/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <!-- path to the brickoo library -->
            <directory suffix=".php">../Brickoo</directory>
            <exclude>
                <!-- exclude interfaces from code coverage -->
                <directory suffix=".php">../Brickoo/*/Interfaces</directory>
                <directory suffix=".php">../Brickoo/*/*/Interfaces</directory>
                <directory suffix=".php">../Brickoo/*/*/*/Interfaces</directory>
                <directory suffix=".php">../Brickoo/*/*/*/*/Interfaces</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>