<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    stopOnError="false"
    stopOnFailure="false"
    strict="true"
    verbose="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="BrickOO Test Suite">
            <directory>./Brickoo</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/Brickoo</directory>
        </whitelist>
    </filter>
</phpunit>