<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    stopOnError="true"
    stopOnFailure="false"
    strict="true"
    colors="false"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="bootstrap.php">
    <filter>
        <whitelist>
            <!-- path to the brickoo library -->
            <directory suffix=".php">../Library</directory>
            <exclude>
                <!-- exclude interfaces from code coverage -->
                <directory>../Library/*/Interfaces</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>